name: Playwright Headed Mode

on:
  workflow_dispatch:

jobs:
  run-playwright:
    runs-on: ubuntu-latest
    timeout-minutes: 355

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install

      - run: npx playwright install --with-deps chromium

      - name: Install Xvfb
        run: sudo apt-get update && sudo apt-get install -y xvfb

      - name: Run Script in Virtual Display
        run: xvfb-run node test.js
        
